{
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.jsx"],
      "options": {
        "semi": false
      }
    }
  ]
}
